@font-face {
  font-family: 'Product Sans';
  src: url('https://fonts.gstatic.com/s/productsans/v7/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2')
    format('woff2');
}

.background {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  background: transparent linear-gradient(180deg, #2444c4 0%, #5678ff 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
}

.uppertriangle {
  position: absolute;
  top: -900px;
  left: 1099px;
  width: 800px;
  height: 922px;
  transform: rotate(60deg);
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.49;
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
}

.mainbg {
  position: absolute;
  top: 20px;
  left: 450px;
  width: 874px;
  height: 1008px;
  transform: rotate(60deg);
  opacity: 1;
}

.lowertriangle {
  position: absolute;
  top: 920px;
  left: -150px;
  width: 800px;
  height: 922px;
  transform: rotate(60deg);
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.49;
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
}

.logo {
  position: absolute;
  top: 220px;
  left: 750px;
  width: 350px;
}

.title {
  position: absolute;
  top: 410px;
  left: 790px;
  width: 318px;
  height: 61px;
  text-align: center;
  font: normal normal bold 45px/58px Product Sans;
  letter-spacing: 2px;
  color: #213993;
  opacity: 1;
}

.subtext {
  position: absolute;
  top: 500px;
  left: 685px;
  width: 521px;
  height: 58px;
  text-align: center;
  font: normal normal normal 20px/25px Product Sans;
  letter-spacing: 0.67px;
  color: #213993;
  opacity: 1;
}

.seperator {
  position: absolute;
  top: 580px;
  left: 865px;
  width: 147px;
  height: 0px;
  border: 3px solid #26d192;
  opacity: 0.35;
}

.footertext {
  position: absolute;
  top: 600px;
  left: 850px;
  width: 180px;
  height: 35px;
  text-align: center;
  font: normal normal bold 29px/34px Product Sans;
  letter-spacing: 0.88px;
  color: #213993;
  opacity: 0.56;
}

.link1 {
  position: absolute;
  top: 670px;
  left: 712px;
  width: 69px;
  height: 71px;
  background: #dcdcdc 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 48px #0000000f;
  border-radius: 15px;
  opacity: 1;
}

.link2 {
  position: absolute;
  top: 670px;
  left: 835px;
  width: 69px;
  height: 71px;
  background: #dcdcdc 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 48px #0000000f;
  border-radius: 15px;
  opacity: 1;
}

.link3 {
  position: absolute;
  top: 670px;
  left: 958px;
  width: 69px;
  height: 71px;
  background: #dcdcdc 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 48px #0000000f;
  border-radius: 15px;
  opacity: 1;
}

.link4 {
  position: absolute;
  top: 670px;
  left: 1091px;
  width: 69px;
  height: 71px;
  background: #dcdcdc 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 48px #0000000f;
  border-radius: 15px;
  opacity: 1;
}

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
